.jumbotron {
  background-color: #18b976;
  color: #ffffff;
  text-align: center;
  margin-top: 50px; }

.card-curso {
  flex: 1 200px;
  padding: 2px 0px 0px 0px;
  margin-top: 1em; }

article {
  padding-top: 1em; }

.btn-descarga {
  background-color: #005e37;
  border: #005e37;
  width: 100%;
  border-radius: 0%; }

.btn-c {
  background-color: #005e37;
  border: #005e37;
  border-radius: 2%;
  margin-top: 5px; }

footer {
  background-color: #18b976;
  padding: 10px 10px 0px 10px;
  margin-top: 10px;
  color: #000000; }

p > a {
  border-radius: 5%;
  padding-left: 3px;
  padding-right: 5px;
  background-color: #18b976;
  font-style: italic;
  color: #ffffff; }

a {
  color: #ffffff;
  font-weight: bolder; }

span {
  color: #000000;
  font-size: 2em; }

.btn:hover {
  background-color: #18b976; }

.footer-address-icon {
  color: #000000;
  padding-right: 40px;
  height: 1px;
  width: 1px; }

.icon-phone {
  padding-left: 6px;
  padding-right: 33px; }

.nosotros,
.tutorias,
.terminos,
.contacto {
  margin-top: 85px; }

img {
  height: 200px; }

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center; }

.img-banner {
  height: 330px;
  width: 100%; }

a {
  color: #18b976; }

a:hover {
  color: #005e37; }

footer a {
  color: #ffffff; }

.style-tarjeta {
  background-color: #18b976;
  color: #ffffff;
  font-weight: bold;
  text-align: center; }

.tab-content {
  padding-top: 10px; }

.btn-accordion:hover {
  background-color: unset; }

.btn-accordin {
  width: 100%; }

.email {
  width: 100%; }

.img-c {
  height: 400px; }
