$greenLess: #18b976;
$greenMore: #005e37;
$white: #ffffff;
$black: #000000;

@mixin margenes($top) {
  margin-top: $top;
}

.jumbotron {
  background-color: $greenLess;
  color: $white;
  text-align: center;
  @include margenes(50px);
}

.card-curso {
  flex: 1 200px;
  padding: 2px 0px 0px 0px;
  margin-top: 1em;
}

article {
  padding-top: 1em;
}

.btn-descarga {
  background-color: $greenMore;
  border: $greenMore;
  width: 100%;
  border-radius: 0%;
}

.btn-c {
  background-color: $greenMore;
  border: $greenMore;
  border-radius: 2%;
  @include margenes(5px);
}

footer {
  background-color: $greenLess;
  padding: 10px 10px 0px 10px;
  @include margenes(10px);
  color: $black;
}

p > a {
  border-radius: 5%;
  padding-left: 3px;
  padding-right: 5px;
  background-color: $greenLess;
  font-style: italic;
  color: $white;
}

a {
  color: $white;
  font-weight: bolder;
}

span {
  color: $black;
  font-size: 2em;
}

.btn:hover {
  background-color: $greenLess;
}

.footer-address-icon {
  color: $black;
  padding-right: 40px;
  height: 1px;
  width: 1px;
}

.icon-phone {
  padding-left: 6px;
  padding-right: 33px;
}

.nosotros,
.tutorias,
.terminos,
.contacto {
  @include margenes(85px);
}

img {
  height: 200px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.img-banner {
  height: 330px;
  width: 100%;
}

a {
  color: $greenLess;
}

a:hover {
  color: $greenMore;
}

footer a {
  color: $white;
}

.style-tarjeta {
  background-color: $greenLess;
  color: $white;
  font-weight: bold;
  text-align: center;
}

.tab-content {
  padding-top: 10px;
}

.btn-accordion:hover {
  background-color: unset;
}

.btn-accordin {
  width: 100%;
}

.email {
  width: 100%;
}

.img-c {
  height: 400px;
}
